/node_modules/
/dist/
/target/
/src-tauri/target/
/src-tauri/gen/
/playwright-report/
/test-results/
*.tsbuildinfo
/vite.config.js
/vite.config.d.ts
/playwright.config.js
/playwright.config.d.ts
*.log
.DS_Store
